---
import PlotFigure from "../components/PlotFigure.astro";
import penguins from "../assets/penguin.json";
import * as Plot from "@observablehq/plot"; 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro tp1</title>
  </head>
  <body>
    <h1>Astro tp1</h1>

    <PlotFigure
      options={{
        marks: [
          Plot.dot(penguins, { x: "culmen_length_mm", y: "culmen_depth_mm", stroke: "species" })
        ]
      }}
    />

    <PlotFigure
      options={{
        marks: [
          Plot.rectY({ length: 10000 }, Plot.binX({ y: "count" }, { x: Math.random }))
        ]
      }}
    />
  </body>
</html>
