---
import PlotComponent from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";

// Ici on définit les "options" Plot
const penguinsOptions = {
  marks: [
    Plot.rectY(
      { length: 10000 },                          // données simulées (comme ton exemple)
      Plot.binX({ y: "count" }, { x: Math.random }) // histogramme
    )
  ]
};
---

<h1>Exemple Penguins (version Plot/Astro)</h1>
<PlotComponent options={penguinsOptions} />